.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.word {
  height: 1rem; 
  margin-bottom: .5rem;
  padding: .25rem;  
  text-align: center; 
}
.word1 {
  animation: pulse 10s infinite;
  width: 7rem;
}

@keyframes pulse {
0% {
    background-color: green;
      color: white;
}
50% {
  background-color: blue;
      color: white;
}	
100% {
  background-color: rgb(226, 36, 36);
      color: white;
}
}

.word1:after {
content: "";
animation: spin 10s infinite;
}

@keyframes spin {
0% { content:"LIFESTYLE"; width: '100%'; }
50% { content:"WORK"; }
100% { content:"EVERYTHING"; }
}